<body>
  <div class="container">
    <div class="images-wrapper">
      <div class="container-two-images">
        <img src="fotka1.jpg" alt="Prvý obrázok">
        <img src="fotka2.JPG" alt="Druhý obrázok">
      </div>
      <div class="container-three-images">
        <img src="fotka3.jpg" alt="Prvý obrázok">
        <img src="fotka1.jpg" alt="Druhý obrázok">
      </div>
    </div>

    <div class="question">
      <h1>Máte otázky alebo ste <br> pripravení si objednať?</h1>
      <p>Pokiaľ máte záujem špecifický dizajn neváhajte ma kontaktovať. <br>
        Budem sa snažiť vám čím skôr odpovedať.
      </p>

      <div class="name">
        <p-floatLabel>
          <input id="name_label" pInputText/>
          <label for="name_label">Meno</label>
        </p-floatLabel>
      </div>

      <div class="email">
        <p-floatLabel>
          <input id="email_label" pInputText/>
          <label for="email_label">Email</label>
        </p-floatLabel>
      </div>

      <div class="text-area">
        <p-floatLabel>
      <textarea
        id="message"
        rows="10"
        pInputTextarea
        autoResize="true"
        placeholder=" "></textarea>
          <label for="message">Vaša správa</label>
        </p-floatLabel>
      </div>

      <div class="drag-and-drop">
        <i class="pi pi-cloud-upload"></i>
        <p>Drag and drop files to here to upload.</p>
      </div>

      <a href="#" class="cta-button">Odoslať ></a>

    </div>
  </div>
</body>
