<body>
  <div class="container">
    <div class="left">
      <h1>Často kladené <br> otázky</h1>
      <p>Tu nájdete najčastejšie otázky.</p>
    </div>

    <div class="faq">
      <div class="accordion-one">
        <div class="header-accordion-one">
          <h2>Aké predmety dokážete vyšiť?</h2>
        </div>

        <div class="content-accordion-one">
          <p>Pracujem primárne na mikinách, tričkách a uterákoch.</p>
        </div>
      </div>

      <div class="accordion-two">
        <div class="header-accordion-two">
          <h2>Ako dlho trvá dokončenie objednávky?</h2>
        </div>

        <div class="content-accordion-two">

        </div>
      </div>

      <div class="accordion-tree">
        <div class="header-accordion-three">
          <h2>Možem si požiadať o špecifický dizajn alebo logo?</h2>
        </div>

        <div class="content-accordion-three">

        </div>
      </div>

      <div class="accordion-four">
        <div class="header-accordion-four">
          <h2>Príjmate hromadné objednávky na darčeky?</h2>
        </div>

        <div class="content-accordion-one">

        </div>
      </div>
    </div>
  </div>
</body>
