.custom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 50vh;
  padding: 28rem;
  background-color: white;
}

.card {
  border: 2px solid black;
  border-radius: 10px;
}

.form-card {
  height: 650px;
}

.image-card {
  width: auto;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-image {
  height: 650px;
  border-radius: 30px;
  max-width: auto;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.form-container {
  width: 80%;
  margin: 20px;
  max-width: 500px;
}

.email-container {
  margin-bottom: 2rem;
}

.password-container {
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: 20px;
}

p-floatLabel {
  width: 100%;
  margin-bottom: 20px;
}

.forgot-password {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .custom-container {
    flex-direction: column;
    padding: 1rem;
  }

  .card {
    flex: 1 1 100%;
  }

  .promo-image, .form-container {
    width: 100%;
  }

  .image-section, .form-section {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .form-container {
    padding: 1rem;
  }

  p-floatLabel {
    margin-bottom: 1rem;
  }

  .submit-button {
    font-size: 1rem;
  }
}
