.custom-layout {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 3px solid black;
  gap: 100px;
}

.custom-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.custom-logo {
  height: 150px;
}

.custom-text-container {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px black;
  padding: 2rem;
  width: 100%;
  max-width: 500px;
}

.custom-text {
  font-size: 1rem;
  color: #333;
  text-align: center;
}

@media (max-width: 768px) {
  .custom-layout {
    flex-direction: column;
    gap: 0;
  }

  .custom-logo {
    max-width: 100%;
    height: auto;
  }

  .custom-text-container {
    margin-top: 2rem;
  }
}
