<div class="card block justify-center items-center mr-8 mt-4">
  <p-toast></p-toast>
  <p-toolbar styleClass="mb-1">
    <ng-template pTemplate="start">
      <p-button label="Pridať" icon="pi pi-plus" class="mr-2" (onClick)="openNew()"></p-button>
      <p-button severity="danger" label="Odstraniť" icon="pi pi-trash" outlined
                (onClick)="deleteSelectedDesigns()"
                [disabled]="!selectedDesigns || !selectedDesigns.length"></p-button>
    </ng-template>
  </p-toolbar>

  <div class="flex justify-center items-center w-full">
    <p-table
      #dt
      [value]="designs"
      [rows]="10"
      [paginator]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      [(selection)]="selectedDesigns"
      [rowHover]="true"
      dataKey="Id"
      currentPageReportTemplate="Zobrazovanie {first} do {last} z {totalRecords} dizajnov!"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="PathOfFile" style="min-width:14rem">
            <p-sortIcon field="PathOfFile"></p-sortIcon>
          </th>
          <th pSortableColumn="Name" style="min-width:14rem">
            Meno
            <p-sortIcon field="Name"></p-sortIcon>
          </th>
          <th pSortableColumn="Price" style="min-width:6rem">
            Cena
            <p-sortIcon field="Price"></p-sortIcon>
          </th>
          <th pSortableColumn="CreatedAt" style="min-width: 12rem">
            Vytvorené
            <p-sortIcon field="CreatedAt"></p-sortIcon>
          </th>
          <th pSortableColumn="UpdatedAt" style="min-width: 12rem">
            Aktualizované
            <p-sortIcon field="UpdatedAt"></p-sortIcon>
          </th>
          <th style="min-width:8rem">Akcie</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-design>
        <tr>
          <td style="width: 3rem">
            <p-tableCheckbox [value]="design"></p-tableCheckbox>
          </td>
          <td>
            <img [src]="environment.apiUrl + design.PathOfFile" alt="Obrazok" width="50"/>
          </td>
          <td>{{ design.Name }}</td>
          <td>{{ design.Price | number:'1.2-2' }} €</td>
          <td>{{ design.CreatedAt | date:'short' }}</td>
          <td>{{ design.UpdatedAt | date:'short' }}</td>
          <td>
            <p-button icon="pi pi-pencil" severity="warning" class="p-button-rounded p-button-text"
                      (onClick)="editDesign(design)"></p-button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6" class="text-center">Žiadne tagy na zobrazenie</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog
    header="{{ designDialogHeader }}"
    [(visible)]="designDialog"
    [modal]="true"
    [closable]="false"
    [style]="{ width: '30vw', maxWidth: '95vw' }"
    class="design-dialog"
  >
    <div class="fluid formgrid grid">
      <div class="field mt-3 col-12">
        <p-floatLabel>
          <input
            id="name"
            pInputText
          placeholder=" "
          [(ngModel)]="design.Name"
          class="dialog-input"
          />
          <label for="name">Meno</label>
        </p-floatLabel>
      </div>

      <div class="field mt-2 col-12">
        <p-floatLabel>
          <input
            id="price"
            type="number"
            pInputText
            placeholder=" "
            min="0"
            step="0.01"
            [(ngModel)]="design.Price"
            class="dialog-input"
          />
          <label for="price">Cena (€)</label>
        </p-floatLabel>
      </div>

      <div class="field col-12">
        <label for="colorImage" class="upload-label">Obrázok</label>
        <input
          id="colorImage"
          type="file"
          accept="image/*"
          (change)="onImageSelected($event)"
          class="upload-input"
        />
      </div>
    </div>

    <p-footer>
      <button
        pButton
        type="button"
        label="Zrušiť"
        icon="pi pi-times"
        severity="danger"
        class="p-button-text mt-2"
        (click)="hideDialog()"
      ></button>
      <button
        pButton
        type="button"
        label="Uložiť"
        icon="pi pi-check"
        (click)="saveDesign()"
      ></button>
    </p-footer>
  </p-dialog>

</div>
