<div class="gallery-section">
  <div class="gallery-intro">
    <h1>Pozrite si Moju tvorbu</h1>
    <a [href]="productsUrl" class="cta-button">
      Objednajte Si Váš Kúsok Tiež!
    </a>
  </div>

  <div
    class="slider"
    (mouseenter)="pauseAutoplay()"
    (mouseleave)="startAutoplay()"
  >
    <button class="arrow left" (click)="prev()">‹</button>
    <div class="viewport">
      <div
        class="track"
        [style.transform]="'translateX(-' + translatePercent + '%)'"
      >
        <div class="slide" *ngFor="let img of gallery">
          <img [src]="environment.apiUrl + img.PathOfFile" alt="Obrazok" />
        </div>
      </div>
    </div>
    <button class="arrow right" (click)="next()">›</button>
  </div>
</div>
