<app-header></app-header>
<div class="container flex mt-5 gap-5">
  <div class="first-card">
    <div class="hoodie-container">
    <img
      [src]="environment.apiUrl + product.Colors[0].PathOfFile"
      alt="White Hoodie"
      class="hoodie-base">
    <img *ngIf="selectedDesign"
         [src]="environment.apiUrl + selectedDesign.PathOfFile"
         alt="Design Overlay"
         class="design-overlay">
    </div>
  </div>

  <div class="second-card flex flex-column gap-3">
    <h1>{{ product.Name }} - {{ product.Colors[0].Name }}</h1>
    <h2>
      {{ product.Price | currency: '€' }}
      <span *ngIf="selectedDesign">
        + {{ selectedDesign.Price | currency: '€' }}
      </span>
    </h2>
    <p>{{ product.Description }}</p>

    <div class="flex flex-column gap-1">
      <h3>Veľkosť</h3>

      <ng-container *ngIf="hasSizes; else soldOut">
        <p-dropdown
          [options]="sizeOptions"
          [(ngModel)]="selectedSize"
          placeholder="Vyberte veľkosť..."
          filterPlaceholder="Hľadať veľkosť"
          [disabled]="!hasSizes"
          appendTo="body"
          inputId="sizeDropdown"
        ></p-dropdown>
      </ng-container>

      <ng-template #soldOut>
        <p class="sold-out-message">
          Tento Produkt Je Momentálne Vypredaný!
        </p>
      </ng-template>
    </div>

    <div class="flex flex-column gap-1">
      <h3>Dizajny</h3>
      <div class="designs-container flex gap-2">
        <ng-container *ngFor="let design of designs | slice:0:5">
          <img
            [src]="environment.apiUrl + design.PathOfFile"
            alt="Design image"
            class="design-thumbnail"
            (click)="selectDesign(design.Id)"
            [class.selected]="selectedDesignId === design.Id"
          />
        </ng-container>
      </div>
    </div>

    <div class="flex flex-column gap-1">
      <h3>Popis</h3>
      <p>
        Tu môžete napísať rôzne nápady. Máte záujem o inicíalky? Napíšte mi.
        <b>Poplatok je 2€</b>
      </p>
      <textarea
        placeholder="Ľavý rukáv inicialka: R"
        class="multi-line-input"
        rows="2"
        [(ngModel)]="selectedCustom"
      ></textarea>
    </div>
    <p-toast styleClass="my-toast"></p-toast>
    <button
      (click)="saveCustomization()"
      [disabled]="!hasSizes"
      >Pridať Do Košika!</button>
  </div>
</div>
<app-galery-card></app-galery-card>
<app-questions-by-card></app-questions-by-card>
<app-footer></app-footer>
