<body>
<nav>
  <div class="logo">
    <img src="Waffl_logo.svg" alt="Logo" />
  </div>

  <div class="menu-bar">
    <div class="menu-items">
      <a href="/">Domov</a>
      <a href="/products">Produkty</a>
      <a href="/about-me">O nás</a>
      <a href="/my-gallery">Galéria</a>
      <a href="/contact">Kontakt</a>
    </div>

    <div *ngIf="!isLogged()" class="sign-in">
      <a href="/login">Prihlásenie</a>
      <a href="/register">Registrácia</a>
      <a>Košík</a>
    </div>

    <div *ngIf="isLogged()">
      <div *ngIf="!isAdminLogged()" class="sign-in">
        <a (click)="routeToUserProfile()">Ahoj {{decoded?.FirstName}}!</a>
        <a (click)="logout()">Odhlásenie</a>
        <a>Košík</a>
      </div>

      <div *ngIf="isAdminLogged()" class="sign-in">
        <a (click)="routeToAdminProfile()">Admin: {{decoded?.FirstName}}!</a>
        <a (click)="logout()">Odhlásenie</a>
        <a>Košík</a>
      </div>
    </div>
  </div>
</nav>
</body>

