* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 750px;
  padding: 20px;
  gap: 20px;
}

.intro-echo {
  display: flex;
  gap: 500px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.header h1 {
  font-family: "Panchang", sans-serif;
}

.first-row {
  display: flex;
  gap: 30px;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.first-row p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  display: flex;
}

.image-card img {
  width: auto;
  height: 303px;
  border-radius: 10px;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #091516;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  transition: background-color 0.3s;
  height: 50px;
  width: 215px;
}

@media (max-width: 768px) {
  .container {
    height: auto;
    padding: 10px;
  }
  .intro-echo {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
  .first-row {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .image-card img {
    height: auto;
    max-width: 100%;
  }
}

@media (max-width: 390px) and (max-height: 844px) {
  .container {
    padding: 5px;
  }
  .intro-echo {
    gap: 10px;
    font-size: 16px;
  }
  .header h1 {
    font-size: 22px;
  }
  .first-row {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .first-row p {
    font-size: 20px;
  }
  .cta-button {
    padding: 10px 20px;
    font-size: 16px;
    width: 180px;
    height: 40px;
  }
  .image-card img {
    height: auto;
    max-width: 100%;
    border-radius: 5px;
  }
}
