<div>
  <p-carousel
    [autoplayInterval]="7500"
    [circular]="true"
    [numScroll]="1"
    [numVisible]="1"
    [showIndicators]="false"
    [value]="welcome"
    class="custom-carousel"
  >
    <ng-template let-welcome pTemplate="item">
      <div
        [style.backgroundImage]="'url(' + welcome.image + ')'"
        class="center-image p-d-flex p-ai-center p-jc-center p-p-3 wrapper"
        style="height: 100vh; background-size: cover; background-position: center;"
      >
        <div class="component-container">
          <div class="content p-d-flex p-flex-column">
            <div class="header p-d-flex p-ai-center">
              <div class="line"></div>
              <h2 class="p-ml-3 font-normal text-stroke">Waffl. embroidery</h2>
            </div>
            <div class="p-grid">
              <h1 class="p-col-12 p-pl-2 text-stroke">{{welcome.title}}</h1>
            </div>
            <div class="buttons p-d-flex">
              <button
                class="p-button p-button-raised p-m-2 p-p-2 custom-button"
                icon="pi pi-arrow-right"
                iconPos="right"
                label="MIKINY"
                pButton
                pRipple
                style="background-color: white; border-color: black; color: black;"
                type="button"
              >
                MIKINY
              </button>
              <button
                class="p-button p-button-raised p-m-2 p-p-2 custom-button"
                icon="pi pi-arrow-right"
                iconPos="right"
                label="VLASTNY DESIGN"
                pButton
                pRipple
                style="background-color: black; border-color: white; color: white;"
                type="button"
                routerLink="/reservation"
              >
                VLASTNÝ DESIGN
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
