<app-header></app-header>
<div class="p-grid custom-layout">
  <div class="p-col-fixed custom-logo-container">
    <img src="Waffl_logo.svg" alt="Company Logo" class="custom-logo">
  </div>
  <div class="p-col custom-text-container">
    <div class="text-box">
      <p class="custom-text">
        Waffl s.r.o
      </p>
      <p class="custom-text">
        IČO: 23154
      </p>
      <p class="custom-text">
        Tel. číslo: +4219545621
      </p>
      <p class="custom-text">
        Email: info&#64;waffl.com
      </p>
      <p class="custom-text">
        Kysucké Nové Mesto
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
