<body>
  <div class="banner-container">
    <div class="banner-header">
      <h1>Ako si vytvoriť svoju<br>personalizovanu výšivku?</h1>
    </div>

    <div class="banner-second-container">
      <div class="first-step">
        <div class="progress-first-step">
          <img src="progress_container.png" alt="Progress">
        </div>
        <div class="step-one-img">
          <img src="step1.png" alt="Step one">
        </div>
        <h5>Krok 1.</h5>
        <h3>Vyberte svoj predmet</h3>
        <p>Vyberte si z mikín, uterákov, diek<br>alebo prineste vlastný kúsok.</p>
      </div>

      <div class="second-step">
        <div class="progress-second-step">
          <img src="progress_container.png" alt="Progress">
        </div>
        <div class="step-two-img">
          <img src="step2.png" alt="Step two">
        </div>
        <h5>Krok 2.</h5>
        <h3>Vyberte si dizajn</h3>
        <p>Vyberte si dizajn nášiviek, prípadne<br> mi pošlite váš odkaz.</p>
      </div>

      <div class="third-step">
        <div class="progress-third-step">
          <img src="progress_container.png" alt="Progress">
        </div>
        <div class="step-third-img">
          <img src="step3.png" alt="Step one">
        </div>
        <h5>Krok 3.</h5>
        <h3>Schváľte náhľad</h3>
        <p>Pošlem vám rýchly návrh na<br>schválenie.</p>
      </div>

      <div class="fourth-step">
        <div class="progress-fourth-step">
          <img src="progress_container.png" alt="Progress">
        </div>
        <div class="step-four-img">
          <img src="step4.png" alt="Step four">
        </div>
        <h5>Krok 4.</h5>
        <h3>Doručenie</h3>
        <p>Vaša vyšívana vecička vám bude<br>doručená priamo domov.</p>
      </div>
    </div>

    <div class="banner-button">
      <a href="#" class="cta-button">Objednať Si Svoj Kúsok</a>
    </div>
  </div>
</body>
