
<body>

<div class="banner-container">
  <div class="banner-image">
    <img src="image_left.png" alt="Women image">
  </div>

  <div class="banner-content">
    <h1>Personalizovaná <br>výšivka pre oblečenie,<br> ktoré hovorí vaším <br>srdcom!<br></h1>
    <p>Od mikín s láskavými odkazmi po uteráky s vlastnými menami,<br>
      vdyšam vaše nápady do reality.</p>
    <a href="#" class="cta-button">Objednajte Si Svoj Unikátny Kúsok</a>
  </div>

  <div class="banner-image">
    <img src="image_right.png" alt="Men image">
  </div>
</div>

</body>
