<body>
  <div class="footer-container">
    <div class="content-container">
      <div class="links">
        <div class="logo">
          <img src="logo_waffle_footer.png" alt="Waffl logo">
        </div>

        <div class="column-one">
          <h4>Užitočné Odkazy</h4>
          <div class="column-one-links">
            <p routerLink="/">Domov</p>
            <p routerLink="/products">Produkty</p>
            <p routerLink="/about-me">O nás</p>
            <p routerLink="/my-gallery">Galéria</p>
          </div>
        </div>

        <div class="column-two">
          <h4>Dôležité Odkazy</h4>
          <div class="column-two-links">
            <p routerLink="/contact">Zásady ochrany</p>
            <p routerLink="/contact">Obchodné <br> Podmienky</p>
            <p routerLink="/contact">FAQ</p>
          </div>
        </div>

      </div>

      <div class="newsletter">
        <div class="frame-13">
          <h3>Odberať</h3>
          <p>Prihlásenie na odber noviniek o nových <br> dizajnoch a ponukách.</p>
        </div>

        <div class="actions">
          <label for="emailInput">Zadajte email</label>
          <input id="emailInput" type="text" placeholder="Zadajte email" [(ngModel)]="email"/>
          <button (click)="receiveNews()">Prihlásiť sa</button>
        </div>

        <div class="gdpr">
          <p>
            Tým, že sa prihlásite na odber, súhlasíte s našimi Zásadami <br>
            ochrany osobných údajov a dávate súhlas na prijímanie noviniek <br>
            od našej spoločnosti.
          </p>
        </div>
      </div>

    </div>

    <div class="credits-container">
      <div class="divider">
        <img src="Divider.png" alt="Divider">
      </div>

      <div class="row">
        <div class="credits">
          <p>© 2025 waffl. All rights reserved.</p>
        </div>

        <div class="social_links">
          <i class="pi pi-facebook"></i>
          <i class="pi pi-instagram"></i>
          <i class="pi pi-twitter"></i>
          <i class="pi pi-linkedin"></i>
          <i class="pi pi-youtube"></i>
        </div>
      </div>
    </div>
  </div>

  <p-dialog header="Ďakujeme!" [(visible)]="displaySuccess" modal="true" [closable]="false">
    <p>Úspešne budete prijímať novinky!</p>
    <ng-template pTemplate="footer">
      <button pButton label="OK" (click)="closeDialogs()"></button>
    </ng-template>
  </p-dialog>

  <p-dialog header="Chyba" [(visible)]="displayError" modal="true" [closable]="false">
    <p>Pri registrácii nastala chyba: {{ errorMessage }}</p>
    <ng-template pTemplate="footer">
      <button pButton label="OK" (click)="closeDialogs()"></button>
    </ng-template>
  </p-dialog>
</body>
