* {
  margin: 0;
  padding: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  height: 505px;
  padding: 80px 64px;
  background-color: #091516;
  gap: 40px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

.content-container {
  display: flex;
  gap: 128px;
}

.links {
  display: flex;
  gap: 85px;
}

.logo img {
  width: 156px;
  height: 77px;
}

.column-one,
.column-two {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
}

.column-one-links,
.column-two-links {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 15px;
}

.column-one h4,
.column-two h4 {
  font-size: 16px;
  color: #EDE8D0;
}

.newsletter {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  gap: 24px;
}

.frame-13 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.frame-13 h3 {
  font-family: "Panchang", sans-serif;
  font-size: 16px;
  color: #EDE8D0;
}

.frame-13 p {
  font-size: 16px;
  line-height: 150%;
}

.actions {
  display: inline-flex;
  align-items: center;
  background-color: #091516;
  border: 1px solid #8A8A8A;
  border-radius: 6px;
  overflow: hidden;
}

.actions label {
  position: absolute !important;
  left: -9999px;
}

.actions input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 12px;
  font-size: 16px;
  color: #DADADA;
}

.actions input::placeholder {
  color: #C7C7C7;
}

.actions button {
  background-color: #E8E2C4;
  border: none;
  outline: none;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  color: #091516;
  font-weight: 600;
  transition: background-color 0.3s;
}

.actions button:hover {
  background-color: #D6CCAA;
}

.gdpr p {
  color: #EDE8D0;
  line-height: 150%;
  font-size: 12px;
}

.credits-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.row {
  display: flex;
  gap: 620px;
}

.credits {
  margin-right: 150px;
  font-size: 14px;
  color: #EDE8D0;
}

.social_links {
  display: flex;
  gap: 12px;
  margin-left: 150px;
}
