* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 567px;
  background-image: url("/content_wrapper.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-image img {
  height: 567px;
  width: 640px;
}

.banner-information {
  padding-top: 200px;
  padding-right: 60px;
}

.banner-information h1 {
  font-size: 32px;
  font-family: "Panchang", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

.banner-information p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: black;
}

@media (max-width: 768px) {
  .banner-container {
    flex-direction: column;
    height: auto;
    padding: 20px;
    align-items: center;
  }
  .banner-image img {
    width: 100%;
    height: auto;
  }
  .banner-information {
    padding-top: 20px;
    padding-right: 0;
    text-align: center;
  }
  .banner-information h1 {
    font-size: 28px;
  }
  .banner-information p {
    font-size: 16px;
  }
}

@media (max-width: 390px) and (max-height: 844px) {
  .banner-container {
    flex-direction: column;
    height: auto;
    padding: 10px;
    align-items: center;
  }
  .banner-image img {
    width: 100%;
    height: auto;
  }
  .banner-information {
    padding-top: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .banner-information h1 {
    font-size: 24px;
  }
  .banner-information p {
    font-size: 14px;
  }
}
