<body>
  <div class="banner-container">
    <div class="banner-image">
      <img src="nina_skuska.png" alt="Fotka">
    </div>

    <div class="banner-information">
      <h1>
        Vyšívanie s láskou
      </h1>

      <p>
        Ahojte, som Nina! Vždy som milovala tvorbu jedinečných, <br>
        personalizovaných dizajnov a teraz pomáham ľuďom, ako ste vy, <br>
        pretvárať každodenné veci na originálne podklady. Či už ide o darček <br>
        pre milovanú osobu, alebo niečo výnimočné pre seba, každý steh je <br>
        vytvorený s láskou
      </p>
    </div>

  </div>
</body>
