.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 456px;
  background-image: url("/business_value.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-card-1,
.banner-card-2,
.banner-card-3,
.banner-card-4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 250px;
  padding-left: 40px;
}

.banner-card-1 img,
.banner-card-2 img,
.banner-card-3 img,
.banner-card-4 img {
  margin-bottom: 10px;
  max-width: 64px;
}

.banner-card-1 p,
.banner-card-2 p,
.banner-card-3 p,
.banner-card-4 p {
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: left;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .banner-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
  }
  .banner-card-1,
  .banner-card-2,
  .banner-card-3,
  .banner-card-4 {
    margin-top: 20px;
    padding-left: 0;
    align-items: center;
    text-align: center;
  }
  .banner-card-1 p,
  .banner-card-2 p,
  .banner-card-3 p,
  .banner-card-4 p {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 20px;
  }
  .banner-card-1 img,
  .banner-card-2 img,
  .banner-card-3 img,
  .banner-card-4 img {
    max-width: 48px;
  }
}

@media (max-width: 390px) and (max-height: 844px) {
  .banner-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px;
  }
  .banner-card-1,
  .banner-card-2,
  .banner-card-3,
  .banner-card-4 {
    margin-top: 10px;
    padding-left: 0;
    align-items: center;
    text-align: center;
  }
  .banner-card-1 p,
  .banner-card-2 p,
  .banner-card-3 p,
  .banner-card-4 p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .banner-card-1 img,
  .banner-card-2 img,
  .banner-card-3 img,
  .banner-card-4 img {
    max-width: 32px;
    margin-bottom: 5px;
  }
}
