<body>
  <div class="banner-container">
    <div class="banner-card-1">
      <img src="icon_1.png" alt="Icon 1">
      <p>Personalizovaný dizajn<br>presne pre teba</p>
    </div>

    <div class="banner-card-2">
      <img src="icon_2.png" alt="Icon 2">
      <p>Vysoko kvalitná výšivka,<br>ktorá vydrží</p>
    </div>

    <div class="banner-card-3">
      <img src="icon_3.png" alt="Icon 3">
      <p>Každý kúsok spracovaný<br>v najvyššej kvalite.</p>
    </div>

    <div class="banner-card-4">
      <img src="icon_4.png" alt="Icon 4">
      <p>Pripravované z jemného<br>materiálu</p>
    </div>
  </div>
</body>
