<div class="container">
  <p-floatLabel>
    <input id="email" type="text" pInputText [(ngModel)]="user.email">
    <label for="email">Email</label>
  </p-floatLabel>

  <p-floatLabel>
    <input id="firstName" type="text" pInputText [(ngModel)]="user.firstName">
    <label for="firstName">First Name</label>
  </p-floatLabel>

  <p-floatLabel>
    <input id="lastName" type="text" pInputText [(ngModel)]="user.lastName">
    <label for="lastName">Last Name</label>
  </p-floatLabel>

  <p-floatLabel>
    <input id="password" type="password" pInputText [(ngModel)]="user.password">
    <label for="password">Password</label>
  </p-floatLabel>

  <p-floatLabel>
    <input id="repeatPassword" type="password" pInputText [(ngModel)]="user.repeatPassword">
    <label for="repeatPassword">Repeat Password</label>
  </p-floatLabel>

  <p-button label="Register" (click)="register(user)"/>
</div>

