<body>
  <div class="container">
    <div class="section-heading">
      <h1>Čo si o nás myslia?</h1>
      <p>Pýtala som sa zákazníkov, či sú s mojou prácou spokojny.</p>
    </div>

    <div class="content">
      <div class="column-one">
        <div class="content-one">
          <div class="stars-one">
            <img src="Vector.png" alt="Star">
            <img src="Vector.png" alt="Star">
            <img src="Vector.png" alt="Star">
            <img src="Vector.png" alt="Star">
            <img src="Vector.png" alt="Star">
          </div>
          <p>"S prácou som bol veľmi spokojný. Odporúčam. Pani je veľmi milá a bolo to veľmi rýchlo!"</p>
        </div>

        <div class="avatar-one">
          <img src="Avatar Image.png" alt="Avatar">
          <div class="avatar-content-one">
            <p>Jakub</p>
          </div>
        </div>

      </div>

      <div class="column-two">
        <div class="content-two">
          <div class="stars-two">
            <img src="Vector.png" alt="Star">
            <img src="Vector.png" alt="Star">
            <img src="Vector.png" alt="Star">
            <img src="Vector.png" alt="Star">
            <img src="Vector.png" alt="Star">
          </div>
          <p>"S prácou som bol veľmi spokojný. Odporúčam. Pani je veľmi milá a bolo to veľmi rýchlo!"</p>
        </div>

        <div class="avatar-two">
          <img src="Avatar Image.png" alt="Avatar">
          <div class="avatar-content-two">
            <p>Jakub</p>
          </div>
        </div>
      </div>

      <div class="column-three">
        <div class="content-three">
          <div class="stars-three">
            <img src="Vector.png" alt="Star">
            <img src="Vector.png" alt="Star">
            <img src="Vector.png" alt="Star">
            <img src="Vector.png" alt="Star">
            <img src="Vector.png" alt="Star">
          </div>
          <p>"S prácou som bol veľmi spokojný. Odporúčam. Pani je veľmi milá a bolo to veľmi rýchlo!"</p>
        </div>

        <div class="avatar-three">
          <img src="Avatar Image.png" alt="Avatar">
          <div class="avatar-content-three">
            <p>Jakub</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
